
# gitignore에 대용량 폴더 추가
*.pt
*.bin
*.safetensors
quantized_model/
model_cache/

finetuned_model/
segmented_dataset/
segmented_test/
segmented_test2/
segmented_test3/
구음장애 음성인식 데이터/
dataset_structure.json
*.wav
*.zip
__pycache__/
*.pyc
